@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

main {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
}

#container {
    margin-top: 0px;
}

#play {
   /* padding: 20px;
    text-align: center;
    margin: 10px;*/
}

#gui {
    position: absolute;
    color: white;
    background-color: rgba(0,0,0, 0.5);
   /* background-color: rgba(40,40,40, 0.5);*/
    margin-top:20x;
    padding: 10px;
    top: 0;
right:0;
border: 1px solid white;
   /* border: 0.5px solid grey;*/
    text-align: center;
}

#gui2 {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

#gui3 {}

#threshold {
    padding: 10px 20px 10px;
}

#lines {
    padding: 10px 20px 10px;
}

p {
    text-align: center;
}

#toggler{
    position:absolute;
    right:0;
  width:90%;
  margin-top:10px;
  margin-right:10px;

}

#buttonX{
    position:absolute;
    width:80px;
    height:80px;
    background-color:red;
    color:black;
    margin:20px;
}