@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

body {
    font-family: 'Roboto Mono', monospace;
}

/*----------Navigation bar--------*/

.navbar {
    height: 7.5vh;
    background-color: black;
}

@media (max-width: 767px) {
    .navbar {
        display: none!important;
    }
}

canvas {
    z-index: 0;
    width: 100% !important;
    height: 100% !important;
}

#play{
    position:absolute;
    left: 0; 
    right: 0; 
    top:0;
    bottom:0;
    margin: auto auto;
    width: 200px;
}

#play img {
    max-width:300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
@media (min-width: 768px) {
   #play img{
       max-width:500px;
   }
}
/*----------Wrappers--------*/

main {
    height: 100vh;
    width: 100vw;
    padding:0;
   background-color: black;
   /* display:flex;
    align-items:center;
    height: 100vh;
    width: 100vw;
    background-color: red;*/
}

#wrapper {
  width:100%;
  height:100%;
}

#sketch-container {
    /*w and h fixed ipad bug*/
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}

@media (min-width: 768px) {
    /*  #wrapper {
        height: 100vh;
        padding: 20px;
        background-color: rgb(30, 30, 30);
    }*/
    main {
        padding: 20px;
        background-color: rgb(30, 30, 30);
    }
}

/*----------Action Buttons--------*/
.ui-container{
    background-color: rgba(10, 10, 10, 0.5);
}
/*
.ui-container-dark{
    background-color: rgba(10, 10, 10, 0.5);
}
.ui-container-light{
    background-color: rgba(10, 10, 10, 0.5);
}*/

#ui-container {
    /*height: 15vh;*/
 /*   background-color: rgba(10, 10, 10, 0.5);*/
    position: absolute;
    width: 99%; /*fix gap on right hand side*/
    bottom: 2vh;
    padding: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    margin-right:auto;
    margin-left:auto;
    max-height:15vh; /*Can't overlap settings menu max-height 85vh*/
    /*so that it appears on top of sketch when not in fullscreen*/
}

.ui-container .row {
    margin: 0;
}

.uiButton {
    border: none;
    background: none;
    width: auto;
    padding-left:4px;
    padding-right:4px;
}

.uiButton img {
    max-width: 60px;
    max-height: 60px;
}

.controlsImg {
    height: 50px;
    width: 50px;
}

#dialog-confirm{
    background-color:white;
    display:none;
    z-index:999;
}



.ui-dialog{
    z-index: 1000 !important ; /*appear on top on android chrome fix?*/
    background-color:white;
    border: 2px solid grey;
}

button{
   
}

@media (min-width: 768px) {
    #ui-container {
        padding:10px;
        bottom: 5vh;
        width: auto;
    }
}

/*----------Settings Menu--------*/
/*
#close-settings {
    color: white;
    padding: 5px;
    float: right;
    border: none;
    background-color: transparent;
    outline: none;
}*/

.close {

}

.icon {
    max-height: 20px;
    max-width: 20px;
}

#gui {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0.25rem;
    left: 0;
    right: 0;
    padding: 0;
   /* margin-left: auto;
    margin-right: auto;*/
    margin:0;
    max-height: 85vh;

    border: 0.25rem solid white;
    border-radius: 0;
    /* border: 0.5px solid grey;*/
    text-align: center;
    width: 100%;
    z-index:1;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 15px;
    border-radius: 99px;
    background: #fff;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
}

/*
#gui2 {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
*/

#toggler {
    position: absolute;
    width: 100%;
    max-width:100vw;
    max-height: 85vh;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    #toggler {
        position: absolute;
        right: 2rem;
        top:2rem;
        width: 50vw;
        margin-top: 10px;
        margin-right: 10px;
    }
    #gui {
        padding: 10px;
        top: 0;
        right: 0;
        border: 1px solid white;
        text-align: center;
        height: auto;
    }

    /*
    #gui {
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 2.5% 2.5% 0 2.5%;
        padding: 2.5%;
        width: 90%;
        border: 1px solid white;
        text-align: center;
        height: auto;
    }*/
}

@media (min-width: 992px) {
    /*don't get rid*/
  #toggler {
        width: 30vw;
    }
}

/*more information modal*/
#custom-modal{
    background-color: black !important; 
    color:white;
}

.custom-close{
    color:White;
    /*padding: 1rem 1rem;*/
   /* margin: -1rem -1rem -1rem auto;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    border: none;
    background-color: transparent;
    outline: none;
}