main{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

#container{
margin-top:50px;
}

#play{
    padding:20px;
    text-align:center;
    margin: 10px;
}
